{% extends "base.html" %}
{% load static %}
{% block title %}Chat{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'chat.css' %}" />
{% endblock head %}
{% block content %}
<div id="wrapper">
  <div id="message-container">
    <div id="welcome-div">
      <h1>Welcome, {{request.user}}</h1>
      <a href="{% url 'logout' %}"><button id="logout-btn">Log out</button></a>
    </div>


    <div id="anchor"></div>
  </div>
  <footer>
    <input type="text" id="msg-input" placeholder="Type your message...">
  </footer>
</div>
<script src="{% static 'chat.js' %}"
  data-username="{{request.user.username}}"
  data-serverid="{{server_id}}"
  data-pfp="{% static 'pfp.png' %}"
></script>
{% endblock content %}