{% extends "base.html" %}
{% load static %}
{% block title %}Chat{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'chat.css' %}" />
{% endblock head %}
{% block content %}
<div id="wrapper">
  <div id="message-container">
    <div id="welcome-div">
      <h1>Welcome, {{request.user}}</h1>
      <a href="{% url 'logout' %}"><button id="logout-btn">Log out</button></a>
    </div>

    {% for msg in messages %}
    <div class="msg">
      <img src="{% static 'pfp.png' %}" alt="pfp" class="pfp">
      <div class="msg-inner">
        {% if server.owner.username == msg.sender.username %}
          <span class="name owner">{{msg.sender.username}}</span><span class="time">12:34</span>
        {% elif msg.sender in server.moderators.all %}
          <span class="name mod">{{msg.sender.username}}</span><span class="time">12:34</span>
        {% elif msg.sender in server.admins.all %}
          <span class="name admin">{{msg.sender.username}}</span><span class="time">12:34</span>
        {% else %}
          <span class="name">{{msg.sender.username}}</span><span class="time">12:34</span>
        {% endif %}
        <p class="msg-contents">{{msg.contents}}</p>
      </div>
    </div>
    {% endfor %}

    <div id="anchor"></div>
  </div>
  <footer>
    <input type="text" id="msg-input" placeholder="Type your message...">
  </footer>
</div>
<script src="{% static 'chat.js' %}"
  data-username="{{request.user.username}}"
  data-serverid="{{server_id}}"
  data-pfp="{% static 'pfp.png' %}"
></script>
{% endblock content %}