{% extends 'base.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'new_server.css' %}">
{% endblock head %}

{% block content %}
<main>
    <div id="add-server-container">
        <h2>New server</h2>
        <form method="post" id="new-server-form">
            {% csrf_token %}
            {% if error_message %}
            <p id="error-message">{{error_message}}</p>
            {% endif %}
            <input name="server_name" id="server_name" placeholder="Server Name" type="text" autocomplete="off">
            <input name="members" id="members" placeholder="Users to add (Space seperated)" type="text">
            <input name="new" id="new-btn" type="submit" value="New">
        </form>
</div>
</main>
{% endblock content %}