* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #1e1e2e;
    color: #cdd6f4;
    font-family: "JetBrainsMono NF", monospace;
    height: 100%;
    font-size: 14pt;
}

aside {
    background-color: #11111b;
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}

aside >  ul > li {
    margin: 10px 0 0 0;
    list-style-type: none;
}
aside > ul > li > a > img {
    border-radius: 10px;
}