* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #1e1e2e;
    color: #cdd6f4;
    font-family: "JetBrainsMono NF", monospace;
    height: 100%;
    font-size: 14pt;
}