<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock head %}
</head>

<body>
    {% if user.is_authenticated %}
    <aside>
        <ul>
            {% for server in user.server_set.all %}
            <li><a href="/server/{{server.id}}"><img src="{% static 'server.png' %}" /></a></li>
            {% endfor %}
            <li><a href="{% url 'add-server' %}"><img src="{% static 'new_server.png' %}" /></a></li>
        </ul>
    </aside>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>

</html>